.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: #c33764; /* fallback for old browsers */

  color: #ffffffa6;
  font-family: "Roboto", sans-serif;
}

input {
  background: border-box;
  color: #ffffffa6;
  border-top: none;
  width: 200px;
  padding: 5px;
}

button {
  background: content-box;
  color: #ffffffa6;
  border: none;
}
